{% extends "learning_logs/base.html" %}

<!-- Recomendo usar um block para os titulos -->
{%block title%} Index | {% endblock title %}

{% block content %}

    <!-- Como tudo vai estar ja dentro de um html, voce nao precisa definir as coisas novamente, apenas
        Oque vai haver dentro dos bloco, como por exemplo o titulo, o conteudo, etc.        
    
    -->

    <section id="title" align="centered" class="learning-log-title">
        <p>Learning Log helps you to keep track of your learning process.</p>
        
    </section>


</body>
</html>
{% endblock content %}