{% extends "learning_logs/base.html" %}

{% block title %} Topics | {% endblock title %}


{% block content %}

<ul>
    <h1>Topics</h1> <!-- Isso deveria estar dentro de um section -->
    <hr>
    {% for topic in topics %}
        <li>
            <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
            <hr>
        </li>
        {% empty %}
        <li>No topics added yet</li> 
    {% endfor %}
    <a href="{% url 'learning_logs:new_topic' %}">Add new Topic</a>  <!-- Isso deveria estar dentro de um section -->
</ul>


{% endblock content %}