{% extends "learning_logs/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics></title>
</head>
<body>
    <p>{{topic}}</p>

    <p>Entries:</p>

    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new Entry</a>
    </p>

    <ul>
        {% for entry in entries %}
        <li>
            <p>{{entry.date_added|date:'M d, Y H:i'}}</p>
            <p>{{entry.text|linebreaks}}</p>
        </li>
        {% empty %}
        <li></li>
        {% endfor %}
    </ul>

</body>
</html>
{% endblock content %}